<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a  class = "navbar-item-title" href="{{site.baseurl}}/">
    <img  style = "
    margin: auto;
    margin-top: 20px;
    margin-bottom: 13px;
    padding-left: 16px;
    max-height: 2rem;
    display:block;
    max-width: 20rem;"  href="{{site.baseurl}}/" src = "/whiteconvergencelogo-trimmy.png">
    <!--<a class="navbar-item title" href="{{site.baseurl}}/">Convergence</a>--></a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{site.baseurl}}/archive/">
        <span class="icon"><span class="fa fa-archive"></span></span>
        <span> Archive</span>
      </a>
    </div>
  </div>
</nav>
